* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Verdana, Tahoma, sans-serif;
}
nav {
  display: flex;
  color: black;
  min-height: 10vh;
  padding: 1rem;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* styling the logo */
.logo {
  display: flex;
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
  flex: 1 1 40rem;
  justify-content: left;
  align-items: center;
  margin-left: 2rem;
}
/* styling the nav-links */

nav ul {
  display: flex;
  flex: 3 1 40rem;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  color: black;
  text-decoration: none;
}

/* intro section */
.intro {
  min-height: 90vh;
  display: flex;
  color: black;
}
.left-intro-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}
.left-intro-content button {
    margin-top: 2rem;
  align-items: center;
  min-width: 5rem;
  padding: 1rem;
  border: none;
  background-color: rgb(13, 13, 56);
  color: white;
  border-radius: 10px;
}
.left-intro-content button a{
  text-decoration: none;
  color: white;
}
.left-intro-content h1 {
    text-align: left;
    font-size: 3rem;
}
.left-intro-content p {
    margin-top: 1rem;
  font-size: 1.5rem;
}
/* styling image */
.right-intro-content {
  align-items: center;
  border-radius: 50% 0 0 50%;
  overflow: hidden;
  width: 40%;
}
.right-intro-content img {
  width: 100%;
  height:100%;
  object-fit: cover;
  /* position: relative; */
}
/* footer */
footer{
    background-color: rgb(13, 13, 56);
    color: white;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    /* position: absolute;
    bottom: 0; */
    width: 100%;
}
/* active button */
.active{
    background-color: rgb(13, 13, 56);
    color: white;
    padding: 0.5rem;
    border-radius: 10px;
}
.contact-container{
    min-height: 80vh;
    display: flex;
    width: 50%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2rem;
    border-radius: 10px;
}

/* contact style */
.right-contact-content{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 50%;
    
}
.left-contact-content{
    display: flex;
    width: 50%;
}
.left-contact-content input{
    padding: 0.5rem;
    margin: 0.5rem;
    border: none;
    border-bottom: solid 1px;
    width: 100%;
}
.left-contact-content #message{
    min-height: 10vh;
}
.left-contact-content #button{
    background-color: rgb(1, 1, 19);
    color: white;
    border-radius: 10px;
}
.right-contact-content .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    /* margin: 5px 2px; */
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    color: rgb(4, 20, 245);
  }
  .fa-twitter{
    color: aqua;
  }

/* about me style */
.about-me{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: black;
  color: white;
  flex-direction: column;
  margin: auto;
  padding: 10rem 40rem;
  text-align: center;
}
.about-me h1 {
  text-transform: uppercase;
  margin-bottom: 5rem;
}
.about-me p{
  font-size: 1.5rem;
}

/* services style */
.services{
  min-height: 90vh;
}
.services h1{
  text-align: center;
  padding-top: 4rem;
}
.services-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  min-height: 80vh;
  width: 80%;
}
.services-container div{
  margin: 2rem;
  text-align: center;
  border-radius: 1rem;
  /* color: white; */
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.services-container h3{
  margin-bottom: 2rem;
}
/* .services-container div:nth-child(1){
  background-color: rgb(28, 28, 29);
}
.services-container div:nth-child(2){
  background-color: rgb(65, 53, 2);
}
.services-container div:nth-child(3){
  background-color: rgb(46, 13, 13);
}
.services-container div:nth-child(4){
  background-color: rgb(12, 12, 34);
} */